$absolute-offset: 10px
  
.border-box
  position: relative
  border-radius: 8px
  padding: 5px
.border-box-light
  @extend .border-box
  border: 1px solid rgba(0, 0, 0, 0.12)
.border-box-dark
  @extend .border-box
  border: 1px solid white
.absolute
  position: absolute
.absolute-top
  @extend .absolute
  top: $absolute-offset
.absolute-bottom
  @extend .absolute
  bottom: $absolute-offset
.absolute-top-left
  @extend .absolute-top
  left: $absolute-offset
.absolute-top-right
  @extend .absolute-top
  right: $absolute-offset
.absolute-bottom-left
  @extend .absolute-bottom
  left: $absolute-offset
.absolute-bottom-right
  @extend .absolute-bottom
  right: $absolute-offset
.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.error-text
  font-size: 11px
  color: #C10015
.hint-text
  font-size: 11px
  color: rgba(0, 0, 0, 0.54)
.hint-text-dark
  font-size: 11px
  color: #b8b8b8
